@{
    //the layout ties this content page to the desired layout structure page
    //code in this area is C# code
    Layout = "~/_Layout.cshtml";
    Page.Title = "Hello World";
}


@section banner{
    <div style="color: aqua">
        This area would be for banner stuff on my web page
        <h1>Hello World</h1>
    </div>}

@* anything NOT explicutyl in a section will be place in RenderBody*@
<div>
    
    <blockquote>
        This is my first Layout/content page
    </blockquote>
    <p>
        We are starting to learn about forms and razor web pages.
        The layout page contains he structure layout of the web page. The content
        page contains the content that appears in the &ltbody&gt tag
    </p>
</div>

@* this is the footer code*@
<div>
    @section foot{
        &copy; CPSC1517 Nait Sep 2020}
</div>




